In [1]:
# Import libraries
import pandas as pd
import numpy as np
import pyodbc
from datetime import datetime

# Import scripts
import querying
from create_result_df import create_result_df

### CONNECTION STRING ###
# remove details prior to upload. Add details before use
cnxn = pyodbc.connect
###

# Create a list of clinical trial objects, and add them to a list
class clinical_trial:
    def __init__(self,studynum,visits,cohort,specimen_types,exceptions):
        self.studynum = studynum
        self.visits = visits
        self.cohort = cohort
        self.specimen_types = specimen_types
        self.exceptions = exceptions

reboot = clinical_trial("ITN080AI", #studynum
                    {'A':['0A', '1A', '2A', '3A', '4A', '7A', '10A', '13A', '17A', '18A', '19A', '20A', '21A', '22A', '23A', '24A', '25A','DVA'],
                    "B":['0B', '1B', '3B', '5B', '7B', '9B', '10B', '11B', '12B', '13B', '14B', '15B', '16B', '17B','DVB'],
                    }, # Visit dictionary
                    ["A","B"], # cohort
                    {"Serum Clot":["H"+"%02d" % i for i in list(range(1,24))],
                  "PBMC":['10A','10B','10C','10D','10E','10F','10G','10H','10I'],
                  "Whole Blood\nTranscriptomics":['9A','9B'],
                  "Whole Blood\nEpigenetic":['51','52','53','54'],
                "Urine Supernatant":["D"+"%02d" % i for i in list(range(1,11))],
                "Urine Pellet":['R01','R02']
                  }, # spectype dict
                    {"A":[('PBMC','1A'),('PBMC','2A'),('PBMC','3A'),
                          ('Urine Pellet','1A'),('Urine Pellet','2A'),('Urine Pellet','3A'),
                          ('Urine Supernatant','1A'),('Urine Supernatant','2A'),('Urine Supernatant','3A'),
                          ('Whole Blood\nEpigenetic','1A'),('Whole Blood\nEpigenetic','2A'),('Whole Blood\nEpigenetic','3A'),
                          ('Whole Blood\nTranscriptomics','1A'),('Whole Blood\nTranscriptomics','2A'),('Whole Blood\nTranscriptomics','3A')]},# exceptions
                    ) 

reveal = clinical_trial("ITN086AI", # Studynum
                    ['0','3','6','8','9','10','WD'], # visits
                    None, # cohort?
                    {"Skin Biopsy":["M01","M02"],
                    "Whole Blood RNA":['9A','9B','9C'],
                    "Whole Blood DNA":['51','52','53','54','55','56'],
                    "PBMC":["10A","10B","10C","10D","10E","10F"],
                    "Serum":['H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10']}, # spec type dict
                     [('Skin Biopsy','3'),('Skin Biopsy','9')] # exceptions
                    )

graduate = clinical_trial("ITN084AD", # Studynum
                    ['-2','-1','0',"S1","S3","S4",'S5', 'S6','S8', 'S9','S10', 'S11',"S13",'S14','S15'], # visits
                    None, # cohorts?
                    #{'Nasal Brushing':0,'Nasal Fluid':0,'PBMC-Li Hep':0, 'Plasma-Li Hep':0, 'Serum-Clot':0,  'Whole Blood':0},
                      #GRADUATE specimen types granular enough. values not needed
                      ['Nasal Brushing','Nasal Fluid','PBMC-Li Hep', 'Plasma-Li Hep', 'Serum-Clot',  'Whole Blood'],
                    [("PBMC-Li Hep","-1"),("Plasma-Li Hep","-1"),
                            ("Nasal Brushing","S1"),("PBMC-Li Hep","S1"),("Plasma-Li Hep","S1"),("Whole Blood","S1"),
                            ("PBMC-Li Hep","S4"),("Plasma-Li Hep","S4"),
                            ("Nasal Brushing","S6"),("PBMC-Li Hep","S6"),("Plasma-Li Hep","S6"),("Whole Blood","S6"),
                            ("PBMC-Li Hep","S9"),("Plasma-Li Hep","S9"),
                            ("Nasal Brushing","S11"),("PBMC-Li Hep","S11"),("Plasma-Li Hep","S11"),("Whole Blood","S11"),
                            ("PBMC-Li Hep","S14"),("Plasma-Li Hep","S14"),
                            ] # exceptions
                    )

teach = clinical_trial("ITN062ST",
                       {"Donor Visits":['D101','D102','D103','ETERM','199B'],
                        "Recipient Visits":['101','102','106','107','109','110','111','112','113','114','115','116','117',
                                            '118','119','199A','201','221','301','306','408','410','412']},
                        ["Donor Visits","Recipient Visits"],
                        #{'Kidney Biopsy':0,'Serum-None':0,'Stool':0, 'Urine Pellet':0, 'Urine Super':0,  'Whole Blood':0},
                        ['Kidney Biopsy','Serum-None','Stool', 'Urine Pellet', 'Urine Super',  'Whole Blood'],
                        {"Donor Visits":[("Serum-None","D101"),("Urine Pellet","D101"),("Urine Super","D101"),("Stool","D101"),("Kidney Biopsy","D101"),
                                         ("Serum-None","D103"),("Urine Pellet","D103"),("Urine Super","D103"),("Stool","D103"),("Kidney Biopsy","D103"),
                                         ("Serum-None","D102"),("Urine Pellet","D102"),("Urine Super","D102"),("Whole Blood","D102"),("Kidney Biopsy","D102")],
                         "Recipient Visits":[("Urine Pellet","101"),("Urine Super","101"),("Stool","101"),("Kidney Biopsy","101"),
                                             ("Serum-None","106"),("Urine Pellet","106"),("Urine Super","106"),("Kidney Biopsy","106"),
                                             ("Serum-None","112"),("Urine Pellet","112"),("Urine Super","112"),("Stool","112"),("Kidney Biopsy","112"),
                                             ("Serum-None","118"),("Urine Pellet","118"),("Urine Super","118"),("Stool","118"),("Kidney Biopsy","118"),
                                             ("Serum-None","107"),("Urine Pellet","107"),("Urine Super","107"),("Stool","107"),("Kidney Biopsy","107"),
                                             ("Serum-None","110"),("Urine Pellet","110"),("Urine Super","110"),("Stool","110"),("Kidney Biopsy","110"),
                                             ("Serum-None","111"),("Urine Pellet","111"),("Urine Super","111"),("Stool","111"),("Kidney Biopsy","111"),
                                             ("Serum-None","114"),("Urine Pellet","114"),("Urine Super","114"),("Stool","114"),("Kidney Biopsy","114"),
                                             ("Serum-None","115"),("Urine Pellet","115"),("Urine Super","115"),("Stool","115"),("Kidney Biopsy","115"),
                                             ("Serum-None","117"),("Urine Pellet","117"),("Urine Super","117"),("Stool","117"),("Kidney Biopsy","117"),
                                             ("Serum-None","109"),("Urine Pellet","109"),("Urine Super","109"),("Stool","109"),("Kidney Biopsy","109"),
                                             ("Serum-None","113"),("Urine Pellet","113"),("Urine Super","113"),("Stool","113"),("Kidney Biopsy","113"),
                                             ("Serum-None","116"),("Urine Pellet","116"),("Urine Super","116"),("Stool","116"),("Kidney Biopsy","116"),
                                             ("Kidney Biopsy","326")
                                             ]}
                        )

littmus_mgh = clinical_trial("ITN073ST",
                              {"Donor":["LD0"]})

# adapt = 

# attain = 

# tides = 

# designate = 

# ust1d2 = 

# beat_ms = 

# dare_aps = 

# cab_101 = 

# activate = 

# sunbeam = 

clinical_trials = [reboot,reveal,graduate,teach]

In [2]:
output = pd.DataFrame(columns = ["Study","Cohort","Visit Number","Visit Ordinal","DaysPostScreening","Sample Type","Number at least 1 collected","Number of recorded visits","Percent"])
for trial in clinical_trials:
    if type(trial.cohort) == list:
        for chrt in trial.cohort:
            lv_data = querying.get_lv_data(pd,cnxn,trial,chrt)
            rho_data = querying.get_rho_data(pd,cnxn,trial,chrt)
            visit_info = querying.get_visit_info(pd,cnxn,trial)
            if trial.cohort[0] == chrt:
                result = create_result_df(pd,trial,chrt,rho_data,lv_data,visit_info)
            else:
                result = pd.concat([result,create_result_df(pd,trial,chrt,rho_data,lv_data,visit_info)])

    else:
        lv_data = querying.get_lv_data(pd,cnxn,trial,None)
        rho_data = querying.get_rho_data(pd,cnxn,trial,None)
        visit_info = querying.get_visit_info(pd,cnxn,trial)
        result = create_result_df(pd,trial,chrt,rho_data,lv_data,visit_info)

    output = pd.concat([output,result])

cnxn.close()

output

c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(lv_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:98: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(rho_query,cnxn)
c:\Users\lserizawa\Desktop\Python Environ\SRC table\querying.py:118: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output_df = pd.read_sql(visit_query,cnxn)

,Study,Cohort,Visit Number,Visit Ordinal,DaysPostScreening,Sample Type,Number at least 1 collected,Number of recorded visits,Percent
0,ITN080AI,A,0A,15,0.0,Serum Clot,17,17,100
1,ITN080AI,A,0A,15,0.0,PBMC,17,17,100
2,ITN080AI,A,0A,15,0.0,Whole Blood\nTranscriptomics,16,17,94
3,ITN080AI,A,0A,15,0.0,Whole Blood\nEpigenetic,17,17,100
4,ITN080AI,A,0A,15,0.0,Urine Supernatant,17,17,100
...,...,...,...,...,...,...,...,...,...
133,ITN062ST,Recipient Visits,412,385,6076.0,Serum-None,0,0,0
134,ITN062ST,Recipient Visits,412,385,6076.0,Stool,0,0,0
135,ITN062ST,Recipient Visits,412,385,6076.0,Urine Pellet,0,0,0
136,ITN062ST,Recipient Visits,412,385,6076.0,Urine Super,0,0,0
137,ITN062ST,Recipient Visits,412,385,6076.0,Whole Blood,0,0,0

In [11]:
output[output["Study"] == "ITN062ST"].head(30)

,Study,Cohort,Visit Number,Visit Ordinal,DaysPostScreening,Sample Type,Number at least 1 collected,Number of recorded visits,Percent
0,ITN062ST,Donor Visits,D101,605,-28.0,Kidney Biopsy,0,8,0
1,ITN062ST,Donor Visits,D101,605,-28.0,Serum-None,0,8,0
2,ITN062ST,Donor Visits,D101,605,-28.0,Stool,0,8,0
3,ITN062ST,Donor Visits,D101,605,-28.0,Urine Pellet,0,8,0
4,ITN062ST,Donor Visits,D101,605,-28.0,Urine Super,0,8,0
5,ITN062ST,Donor Visits,D101,605,-28.0,Whole Blood,8,8,100
6,ITN062ST,Donor Visits,D102,610,0.0,Kidney Biopsy,0,6,0
7,ITN062ST,Donor Visits,D102,610,0.0,Serum-None,0,6,0
8,ITN062ST,Donor Visits,D102,610,0.0,Stool,6,6,100
9,ITN062ST,Donor Visits,D102,610,0.0,Urine Pellet,0,6,0
10,ITN062ST,Donor Visits,D102,610,0.0,Urine Super,0,6,0
11,ITN062ST,Donor Visits,D102,610,0.0,Whole Blood,0,6,0
12,ITN062ST,Donor Visits,D103,615,7.0,Kidney Biopsy,0,6,0
13,ITN062ST,Donor Visits,D103,615,7.0,Serum-None,0,6,0
14,ITN062ST,Donor Visits,D103,615,7.0,Stool,0,6,0
15,ITN062ST,Donor Visits,D103,615,7.0,Urine Pellet,0,6,0
16,ITN062ST,Donor Visits,D103,615,7.0,Urine Super,0,6,0
17,ITN062ST,Donor Visits,D103,615,7.0,Whole Blood,6,6,100
18,ITN062ST,Donor Visits,ETERM,620,NaN,Kidney Biopsy,0,0,0
19,ITN062ST,Donor Visits,ETERM,620,NaN,Serum-None,0,0,0
20,ITN062ST,Donor Visits,ETERM,620,NaN,Stool,0,0,0
21,ITN062ST,Donor Visits,ETERM,620,NaN,Urine Pellet,0,0,0
22,ITN062ST,Donor Visits,ETERM,620,NaN,Urine Super,0,0,0
23,ITN062ST,Donor Visits,ETERM,620,NaN,Whole Blood,0,0,0
24,ITN062ST,Donor Visits,199B,163,NaN,Kidney Biopsy,0,0,0
25,ITN062ST,Donor Visits,199B,163,NaN,Serum-None,0,0,0
26,ITN062ST,Donor Visits,199B,163,NaN,Stool,0,0,0
27,ITN062ST,Donor Visits,199B,163,NaN,Urine Pellet,0,0,0
28,ITN062ST,Donor Visits,199B,163,NaN,Urine Super,0,0,0
29,ITN062ST,Donor Visits,199B,163,NaN,Whole Blood,0,0,0

,Study,Cohort,Visit Number,Visit Ordinal,DaysPostScreening,Sample Type,Number at least 1 collected,Number of recorded visits,Percent
0,ITN080AI,A,0A,15,0.0,Serum Clot,17,17,100
1,ITN080AI,A,0A,15,0.0,PBMC,17,17,100
2,ITN080AI,A,0A,15,0.0,Whole Blood\nTranscriptomics,16,17,94
3,ITN080AI,A,0A,15,0.0,Whole Blood\nEpigenetic,17,17,100
4,ITN080AI,A,0A,15,0.0,Urine Supernatant,17,17,100
5,ITN080AI,A,0A,15,0.0,Urine Pellet,16,17,94
6,ITN080AI,A,1A,20,7.0,Serum Clot,17,17,100
7,ITN080AI,A,1A,20,7.0,PBMC,0,17,0
8,ITN080AI,A,1A,20,7.0,Whole Blood\nTranscriptomics,0,17,0
9,ITN080AI,A,1A,20,7.0,Whole Blood\nEpigenetic,0,17,0
10,ITN080AI,A,1A,20,7.0,Urine Supernatant,0,17,0
11,ITN080AI,A,1A,20,7.0,Urine Pellet,0,17,0
12,ITN080AI,A,2A,25,14.0,Serum Clot,16,16,100
13,ITN080AI,A,2A,25,14.0,PBMC,0,16,0
14,ITN080AI,A,2A,25,14.0,Whole Blood\nTranscriptomics,0,16,0
15,ITN080AI,A,2A,25,14.0,Whole Blood\nEpigenetic,0,16,0
16,ITN080AI,A,2A,25,14.0,Urine Supernatant,0,16,0
17,ITN080AI,A,2A,25,14.0,Urine Pellet,0,16,0
18,ITN080AI,A,3A,30,21.0,Serum Clot,16,16,100
19,ITN080AI,A,3A,30,21.0,PBMC,0,16,0
20,ITN080AI,A,3A,30,21.0,Whole Blood\nTranscriptomics,0,16,0
21,ITN080AI,A,3A,30,21.0,Whole Blood\nEpigenetic,0,16,0
22,ITN080AI,A,3A,30,21.0,Urine Supernatant,0,16,0
23,ITN080AI,A,3A,30,21.0,Urine Pellet,0,16,0
24,ITN080AI,A,4A,35,28.0,Serum Clot,15,15,100
25,ITN080AI,A,4A,35,28.0,PBMC,15,15,100
26,ITN080AI,A,4A,35,28.0,Whole Blood\nTranscriptomics,15,15,100
27,ITN080AI,A,4A,35,28.0,Whole Blood\nEpigenetic,15,15,100
28,ITN080AI,A,4A,35,28.0,Urine Supernatant,15,15,100
29,ITN080AI,A,4A,35,28.0,Urine Pellet,15,15,100